body {
    background-color: azure;
    margin: 0;
}

#container {
    background-color: cornflowerblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carcasa {
    background-color: greenyellow;
    border: rgb(210, 255, 143) outset;
    width: 300px;
    height: 500px;
    border-radius: 10px 10px 10% 10%;
    box-shadow: 50px 5px 30px rgb(77, 122, 204);
}

.comp {
    margin: 10px;
    border: black 1px solid;
}

#Pantalla {
    height: 240px;
    border-radius: 10px 10px 20px 20px;
    display: flex;
    justify-content: center;
    background-color: rgb(47, 47, 47);
}

#pant-izq {
    width: 30px;
    height: ;
    background-color: rgb (47,47,47);
    margin-top: 20px;
    font-size: xx-small;
    justify-content: center;
    text-align: center;
}

#pant-main {
    display: flex;
    height: 165px;
    width: 260px;
    margin-top: 10%;
    background-color: black;
}

#pant-main {
    background-image: url ();
}

#pant-der {
    display: flex;
    height: 200px;
    width: 30px;
}

.p-lat {
    color: white;
    width: 40px;
    font-size: xx-small;
    text-align: center;
}

#led {
    margin-top: 50px;
    margin-left: 9%;
    margin-bottom: 10%;
    background-color: red;
    width: 7px;
    height: 6px;
    border-radius: 100%;
    
}

#power {


}

#logogameboy {
    height: 30px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -17%;
    margin-left: 15%;
    border: none;
}

#letraslogo {
    color: rgb(59, 99, 99);
    font-family: 'Gill Sans';

}

#C {
    color: red;
}

#O {
    color: purple;
}

#L {
    color: greenyellow;
}

#O2 {
    color: yellow;
}

#R {
    color: rgb(0, 175, 178);
}
#nintendo {
    border: rgb(179, 179, 179) 1px inset;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 36%;
    margin-top: 6%;
    width: 80px;
    color: rgb(165, 165, 165);
}

#control, #buttons {
    border: none;
    height: 90px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 5%;
}

#cursor {
    width: 80px;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 1%
}

#CV {
    background-color: rgb(55, 53, 53);
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    border-radius: 5px;
}

#CH {
    background-color: rgb(55, 53, 53);
    grid-row: 2/3;
    grid-column: 1 / 4;
    border-radius: 5px;
}

#btnAB {
    display: flex;
    width: 120px;
    height: 40px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    transform: rotate(-30deg);
    border-radius: 20px;
    margin-left: 20px;
}

#btnA, #btnB {
    background-color: rgb(55, 53,53 );
    width: 40px;
    height: 40px;
    text-align: center;
    align-items: center;
    margin: 9px;
    border-radius: 100%;
    transform: rotate( 30deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnA:hover, #btnB:hover {
    background-color: black;
}

#selectstart {
    display: flex;
}

#select {
    display: flex;
}

#start {
    display: flex;
}


#audio {
    height: 70px;
}